<h1>New Customer</h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <div data-role="fieldcontain">
    <%= devise_error_messages! %>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>

    <%= render :partial => 'customer_info',:locals => {:f => f } %>


    <%= f.submit "Sign up" %>
    
    <% if admin_signed_in? -%>
      <%= f.submit "Only Create", :name => "only_create" %>
    <% end -%>
  </div>
  <% end %>

<%= render "devise/shared/links" %>
