= semantic_form_for [user, order] do |f|
  = f.input :comment
  = f.input :costumer, :as => :select, :include_blank => false, :collection => Hash[Costumer.all.map{|c| [c.email,c.id]}]
  = f.input :delivery_mode, :as => :select, :include_blank => true, :collection => Order.delivery_modes
  = f.input :tracking_number
  = f.input :enclosure, :as => :file
  = f.buttons