%h1
  List of orders
%table.table.table-stripped
  %thead
    %tr
      -if admin_signed_in?
        %th
          Id
      %th
        Customer
      %th
        Created
      %th
        Sent
      %th 
        Approved
  %tbody
    - @orders.each do |order|
      %tr
        -if admin_signed_in?
          %td
            =order.id
        %td
          =order.customer.email
        %td
          =order.created_at.to_date
        %td
          - if order.sent
            %span.label.label-success Sent
          - else
            %span.label.label-warning Not sent

        %td 
          - if order.approved
            %span.label.label-success Approved
          - else
            %span.label.label-warning Not approved


        %td
          -if order.enclosure.present?
            = link_to "Download invoice", order.enclosure.url, :class => 'btn btn-mini'        
          
          - if customer_signed_in?
            
            -if order.approver == current_customer
              = link_to "approve", approve_customer_order_path(current_customer,order), :method => :put, :class => 'btn-mini btn',:confirm => 'Are you sure?' unless order.approved 
          
          - if admin_signed_in?
            = link_to "delete", admin_order_path(current_admin,order), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger btn-mini'
            = link_to "edit", edit_admin_order_path(current_admin,order), :class => 'btn btn-mini'
            
            - if order.approver == current_admin
              = link_to "approve", approve_admin_order_path(current_admin,order), :method => :put,:class => 'btn btn-mini',:confirm => 'Are you sure?' unless order.approved 
            
            - unless order.sent       
              = link_to "send", sent_admin_order_path(current_admin,order), :method => :put, :confirm => 'Are you sure?', :class => 'btn btn-mini'








/ %ul{"data-role" => "listview", "data-inset" => "true"}
/   - @orders.each do |order|
/     %li
/       ="Order #"
/       =order.id
/       %br
/       ="Created at : "
/       =order.created_at.to_date
/       %br
/       -if order.sent
/         = "sent : yes"
/       - else
/         = "sent : no"
/       %br
/       -if order.approved
/         = "approved : yes"
/       -else
/         = "approved : no"
      
/       %div{"data-role" => "controlgroup", "data-type" => "horizontal"}
        
/         - if customer_signed_in?
/           -if order.approver == current_customer
/             = link_to "approve", approve_customer_order_path(current_customer,order), :method => :put, :data =>{:role => "button" } unless order.approved 
/           = link_to "edit", edit_customer_order_path(current_customer,order), :data =>{:role => "button" }
        

/         - if admin_signed_in?
/           - if order.approver == current_admin
/             = link_to "approve", approve_admin_order_path(current_admin,order), :method => :put,:data =>{:role => "button" } 
/           - unless order.sent       
/             = link_to "send", sent_admin_order_path(current_admin,order), :method => :put, "data-role" => "button"
/             = link_to "destroy", admin_order_path(current_admin,order), :method => :delete, :data =>{:role => "button" }
/           = link_to "edit", edit_admin_order_path(current_admin,order), :data =>{:role => "button" }
          
/         -if order.enclosure.present?
/           = link_to "download file", order.enclosure.url, :data =>{:role => "button" }



