<!DOCTYPE html>
<html>
<head>
  <title>Hanes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"> 


  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
  // <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
  
  <script>

    $(document).bind("mobileinit", function(){
      console.log('a');
      $.mobile.ajaxEnabled = false;
      $.mobile.selectmenu.prototype.options.nativeMenu = false;
    });
  </script>


  <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  

</head>
<body>
  <div data-role="page"> 
    <div data-role="header">
      <%= link_to 'Home', root_path, :class => "ui-btn-right" %>
      <% if customer_signed_in? -%>
          
          <h1><%= current_customer.email %>:customer</h1>
          <!-- <%= link_to 'New order', new_customer_order_path(current_customer) %> | -->
          <%= link_to 'My orders', customer_orders_path(current_customer) %>
          <%= link_to 'My info', edit_customer_registration_path %>
          <%= link_to 'Sign out', destroy_customer_session_path, :method => :delete %>

      <% elsif admin_signed_in? -%>
          <h1><%= current_admin.email %>:admin</h1>
          <%= link_to 'New order', new_admin_order_path(current_admin) %>
          <%= link_to 'New Customer', new_customer_registration_path %>
          <%= link_to 'New Admin', new_admin_registration_path %>
          <%= link_to 'Customers', customers_path %>
          <%= link_to 'All orders', all_orders_admin_orders_path(current_admin) %>
          <%= link_to 'Orders to approve', to_approve_admin_orders_path(current_admin) %>
          <%= link_to 'Orders created by me', admin_orders_path(current_admin) %>
          <%= link_to 'Sign out', destroy_admin_session_path, :method => :delete %>
          
      <% else -%>
          
          <%= link_to 'Sign in as Admin', new_admin_session_path %>

<!--           <%= link_to 'Sign up as Customer', new_customer_registration_path %>
          <%= link_to 'Sign in as Customer', new_customer_session_path %> -->


      <% end -%>
    </div>
    <div data-role="content">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
      <%- end -%>
      <%= yield %>
    </div>
  </div>
</body>
</html>
